@import "./blocks/body/body.css";
@import "./blocks/board/board.css";
@import "./blocks/square/square.css";
@import "./blocks/game/game.css";
@import "./blocks/game/game-info.css";

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}
