@import "./blocks/body/body.css";
@import "./blocks/board/board.css";
@import "./blocks/square/square.css";
@import "./blocks/square/_button/square__button.css";
@import "./blocks/game/game.css";
@import "./blocks/game/game-info.css";

.status {
  margin-bottom: 10px;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

* {
  border: solid red 1px;
}
